<article>
  <header>
    <h2><%= @article.title %></h2>
    <small><%= @article.publish_at ? l(@article.publish_at, format: :long) : "Unpublished draft"%></small>
  </header>
  <main><%= simple_format @article.text %></main>
</article>

<br>

<%= link_to edit_article_path(@article) do %>
  <b>Edit</b>
<% end %>

<%= link_to @article, method: :delete, data: {confirm: "Are you sure?"} do %>
  <em>Delete</em>
<% end %>

<%= link_to articles_path do %>
  <em>Back</em>
<% end %>
